*{
	margin: 0;
	padding: 0;
}
body{
	background: linear-gradient(to right, #91c788, #ddffbc); 
	height: 100vh;
}
@import url("font-awesome/css/fontawesome-all.min.css");
.slide-container{
	display: flex;
	justify-content: center;
	align-items: center;
}
.slider{
	width: 800px;
	height: 500px;
	border-radius: 10px;
	margin: auto;
	overflow: hidden;
}
.slides{
	width: 500%;
	height: 500px;
	display: flex;
}
.slides input{
	display: none;
}
.slide{
	width: 20%;
	transition: 1s;
}
.slide img{
	width: 800px;
	height: 500px;
}

.manual-navigation{
	position: absolute;
    width: 800px;
    justify-content: center;
    display: flex;
    margin-top: -50px;
}
.manual-btn{
	padding: 6px;
	border: 2px solid red;
	border-radius: 50%;
	cursor: pointer;
	transition: 1s;
}
.active{
	background: red !important;
}
.manual-btn:not(:last-child){
	margin-right: 30px;
}
.manual-btn:hover{
	background: red;
}

.next-prev-nav{
	/*position: absolute;
	top: 50%;*/
	width: 800px;
	display: flex;
	justify-content: space-between;
}
.next-btn{
	position: absolute;
    top: 20%;
    left: 30%;
    color: white;
    font-size: 50px;
}
.prev-btn{
	position: absolute;
	top: 20%;
	right: 30%;
	color: white;
	font-size: 50px;
}
.next-btn:hover{
	cursor: pointer;
}
.prev-btn:hover{
	cursor: pointer;
}

/*manual navigation code*/
/*#radio1:checked ~ .first{
	margin-left: 0;
}
#radio2:checked ~ .first{
	margin-left: -20%;
}
#radio3:checked ~ .first{
	margin-left: -40%;
}
#radio4:checked ~ .first{
	margin-left: -60%;
}
*/


